site_name: sleap-nn documentation
site_url: https://nn.sleap.ai/
repo_url: https://github.com/talmolab/sleap-nn

theme:
  name: material
  logo: assets/sleap-logo.png
  favicon: assets/favicon.ico
  icon:
    repo: fontawesome/brands/github

  palette:
    - scheme: slate
      primary: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

  features:
    - navigation.tracking
    - toc.follow
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
    - content.tooltips
    - content.code.select
    - content.footnote.tooltips

plugins:
  - search
  - mkdocs-jupyter
  - mike
  - autorefs
  - gen-files:
      scripts:
        - scripts/gen_ref_pages.py
        - scripts/gen_changelog.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            summary: true
            show_root_heading: true
            docstring_options:
              returns_multiple_items: false
            docstring_section_style: table

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  version:
    provider: mike

  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/talmolab
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/talmop

nav:
  - Overview: index.md
  - Installation: installation.md
  - How-to guides:
    - Configuration Setup: config.md
    - Training: training.md
    - Inference & Tracking: inference.md
    - Exporting: export.md
    - CLI Reference: cli.md
  - Tutorials:
    - Example Notebooks: example_notebooks.md
    - Colab Notebooks: colab_notebooks/index.md
    - Step-by-Step Tutorial: step_by_step_tutorial.md
  - Additional Resources:
    - Core Components: core_components.md
    - Model Architectures: models.md
    - Full API: api/
  - Changelog: changelog.md
  - Releases: https://github.com/talmolab/sleap-nn/releases
